.panel.panel-inverse(ng-controller="topologyCtrl")
  .panel-heading
    .panel-heading-btn
    h4.panel-title Topology
  .panel-body
    form.form-horizontal(name="form")
      .form-group
        label.col-md-3.control-label Choose An atricle
        .col-md-5
          select.form-control.input-sm(ng-model="postid", ng-options="k as v for (k,v) in options" ng-change="transformdata()")
      .form-group#topology
