ol.breadcrumb.pull-right
  li
    a(href='javascript:;') Home
  li.active Calendar
h1.page-header
  | SHIT 
  small header small text goes here...
.panel.panel-inverse
  .panel-heading
    .panel-heading-btn
    h4.panel-title 第二篇
  .panel-body
    #fb-root
    .col-md-2
      .fb-login-button(data-max-rows='1', data-size='small', data-show-faces='true', data-auto-logout-link='true')
    .col-md-1
      a(href='javascript:;' ng-click='share()') Share
    .col-md-1
      a(href='javascript:;' ng-click='like()') Like