
<ol class="breadcrumb pull-right">
  <li><a href="javascript:;">Home</a></li>
  <li class="active">Calendar</li>
</ol>
<h1 class="page-header">SHIT <small>header small text goes here...</small></h1>
<div class="panel panel-inverse">
  <div class="panel-heading">
    <div class="panel-heading-btn"></div>
    <h4 class="panel-title">第二篇</h4>
  </div>
  <div class="panel-body">
    <div class="col-md-1"><a href="javascript:;" ng-click="share()">Share</a></div>
    <div class="col-md-1"><a href="javascript:;" ng-click="like()">Like</a></div>
  </div>
</div>