
<h1 class="page-header">觀點：巴黎如何避免下一次恐怖襲擊？</h1>
<div class="panel panel-inverse">
  <div class="panel-heading">
    <div class="panel-heading-btn"></div>
    <h4 class="panel-title">2015 / 11 / 14 宋魯鄭</h4>
  </div>
  <div class="panel-body">
    <div class="headerdivider col-md-12"></div>
    <div class="col-md-offset-10 mybtn"><a href="javascript:;" ng-click="share()"><i class="fa fa-share-square-o"></i><span>Share</span></a><a href="javascript:;" ng-click="like()" ng-hide="liked"><i class="fa fa-heart-o"></i><span>Like</span></a><a ng-show="liked" class="gray"><i class="fa fa-heart"></i><span>Liked</span></a></div>
    <div class="col-md-10 col-md-offset-1">
      <div class="myimg"><img src="http://ichef-1.bbci.co.uk/news/ws/660/amz/worldservice/live/assets/images/2015/11/14/151114212740_bataclan_512x288_getty_nocredit.jpg"/></div><br/>
      <h4 class="boldtext">巴黎一向以花都、時尚之都、浪漫之都著稱於世。然而2015年，巴黎卻成為全球矚目的恐怖之都。</h4>
      <p class="myp">應該說，整個西方都面臨著恐怖主義的威脅，但何以巴黎屢屢上演悲劇？可為成也蕭何，敗也蕭何，巴黎成為目標恰恰是因為它在西方的獨特地位和在世界上的影響力。君不見，巴黎暴恐前一天，貝魯特發生爆炸襲擊，43人死亡，但可曾引起整個世界多大關注？而一旦巴黎成為受害者，則立即震動全世界。其轟動效應、宣傳效應無他地可比。</p>
      <p class="myp">年初《查理周刊》事件之後，法國反恐力度大幅提升，以致於治安都捉襟見肘，在巴黎發生多起大規模惡性搶劫事件，都因為警力不足不致。儘管如此，巴黎仍難逃厄運。世人或許困惑的是，何以如此之多的恐怖分子、如此規模的武器竟能在法國如無人之境，情報、安全部門居然毫無知覺？</p>
      <p class="myp">其實這種困惑並不公平。就在悲劇發生前，法國新聞還播報了內政部長視察警方繳獲的各種非法武器。只是令人反諷的是，不到半小時就發生了前所未有的恐怖襲擊。</p><br/>
      <h4 class="boldtext">獨特因素</h4>
      <p class="myp">之所以如此，要歸根於法國的兩個獨特因素。一是地理上，既是地中海國家，又是大西洋國家，與南歐、中歐等都是鄰國。根據歐盟和申根協定，人員與物資自由流動。法國政府要想徹底控制的難度很高。二是人口結構上，法國有數百萬穆斯林。 這就為外部恐怖分子進入法國提供了便利。他們可以有效得到隱藏和支持，甚至一些土生土長的法籍穆斯林和他們內外勾結，共同作案。</p>
      <p class="myp">目前這起恐怖襲擊已經透露出的身份表明，既有來自敘利亞和埃及的恐怖分子，也有本地出生的法國人。而根據法國參議院4月出具的一份報告顯示，在已知的前往敘利亞和伊拉克為伊斯蘭國（Isis）效力的3000多個歐洲聖戰分子中，有至少1430個是法國人！已有至少200名在伊斯蘭國佔區停留過的聖戰分子返回法國！</p>
      <p class="myp">倫敦大學國王學院國際激進與政治暴力研究中心今年也曾出具過一份報告，研究發現，只有沙特阿拉伯、突尼斯、俄羅斯和約旦為伊斯蘭國效力的本國人數超過法國。在當時，法國激進分子的人數比德國和英國的兩倍還多。</p>
      <p class="myp">無論是巴黎的特殊影響力還是法國的地理條件和人口結構，都是客觀存在而無法改變的。法國唯一能夠改變的是他的外交政策和處理好與本國穆斯林的關係。</p>
      <p class="myp">2003年，法國總統希拉克堅決反對美國攻打伊拉克，除了阻止美國一極獨霸之外，很重要的一點就是考慮到巴黎和法國社會的弱點。所以，在希拉克時期，法國並不是恐怖分子的目標，法國也沒有發生慘烈的恐怖襲擊。</p><br/>
      <h4 class="boldtext">缺乏反思</h4>
      <p class="myp">可惜，隨後兩任法國總統，完全改變了希拉克富有遠見的獨立外交政策，不僅僅隨美國起舞，甚至還衝到推翻卡扎菲政權的第一線。結果，不僅利比亞成為無政府狀態，敘利亞也陷入內戰之中，反令全世界最大的威脅極端伊斯蘭勢力做大。結果一方面出現歐洲歷史上最大的難民危機，令還在經濟危機中掙扎的歐洲難以承受。另一方面 ，極端兇殘的伊斯蘭國，也把法國做為報復的目標。</p>
      <p class="myp">還有一點需要指出的是，整個西方，無論是歐洲還是美國，其處理問題的邏輯思維如同它們的西醫一樣，頭痛醫頭，腳痛醫腳。恐怖分子出現了，就武力消滅之。以為就可萬事大吉，卻從不想危機的根源何在。結果卻是越反越恐，一個恐怖分子倒下了，更多更兇殘的恐怖分子卻又出現了。</p>
      <p class="myp">2015年，巴黎出現了兩次嚴重的恐怖襲擊悲劇，我兩次都在巴黎。法國政府的反應可謂迅速，民眾也是同仇敵愾。只是官方和媒體卻一直缺乏最重要的反思。他們不想為什麼會發生這樣的悲劇，如何有效防止這樣的悲劇發生，而僅僅滿足於說一句這是對我們價值觀的攻擊， 把對方簡單的妖魔化。然而再把軍隊、軍艦、戰機派到中東，派到敘利亞，就以為就可以拒恐怖分子於境外。事實上卻是一場遠比查理周刊事件更為慘烈的悲劇。</p>
      <p class="myp">當然亡羊補牢，假如法國政府真的吸取教訓，巴黎仍然有機會免於恐怖主義的攻擊。</p><br/>
      <h4 class="boldtext">三點建議</h4>
      <p class="myp">首要的，自然是要先面對自己的獨特地理條件和人口結構。要麼法國借這次危機重新建立邊境檢查----歐洲和申根國家仍然是免簽證，但需要在邊境查驗。從而有效的管理住人流和物流。要麼法國加快推動歐盟的一體化，建立歐盟統一的邊境檢查機構。法國鄰國眾多，自由流動狀態下，如此長的邊境僅靠法國自己也根本無法監控。只有改變現在歐盟各國各自為政分裂狀態，以一個統一的歐盟來應對恐怖主義的挑戰。實質從作用上講，整個歐盟不過是一個放大的法國，只要有一個統一的有權威的機構，就能大幅提升安全係數。簡而言之，只有控制住邊境，才能控制住人和武器。</p>
      <p class="myp">中國和美國就是最好的例子。中國一方面有效管理邊境，嚴防境外恐怖分子的滲透，本國的恐怖分子也難以出境，絕不會出現法國出境參加聖戰，經歷實戰經驗後再返國做亂的可能性。另一方面對武器更是極嚴格的控制。2014年發生在昆明的襲擊事件，就是境內的恐怖分子出國未遂，就選擇在國內以刀具做案。假如他們在境外受到訓練、所持的又是武器，其後果將不亞於今天的巴黎。美國更是恐怖分子頭號目標，而且還有持槍自由。但九一一之後，2013年波士頓馬拉松恐怖案竟然使用家用高壓鍋製造的炸彈。也就是說，本土的恐怖分子在一個持槍自由的美國卻搞不到槍和爆炸物，而恐怖分子卻可以在禁槍的法國持重武器屠殺平民。這種對照，實是值的法國反思。</p>
      <p class="myp">其次，則是思考如何處理與數百萬穆斯林的關係。現實是，這些人既不可能離開法國，也不可能同化----他們有自己的宗教信仰和價值觀，家庭也是封閉的，僅和穆斯林通婚。唯一的辦法就是改善他們的生活條件和教育水平。這一點，法國應該向中國學習。比如實行強制教育，或者十二年制教育或者延伸到大學階段。只要接受了足夠的教育，有較大的謀生能力，也就會遠離極端恐怖主義。再比如，一個家庭必須要有一人工作，絕不能出現全家失業的狀況。年初襲擊猶太超市的恐怖分子庫裏巴利長期失業，雖然前總統薩科奇也接見過他，但於事無補。假如他能有一份工作，斷不會成為走向這條毀滅之路。</p>
      <p class="myp">當然，在講究人人平等的法國，在經濟困難的情況下，在群起激憤的情況下，要做到這一點十分的困難，這不妨看作是對法國現行制度的考驗。如果法國無法實行，哪麼國內就一直存在滋生極端伊斯蘭主義的土壤，法國永無寧日。</p>
      <p class="myp">至於大量的穆斯林難民，則是一個全新的難題。雖然斯洛伐克已經表示僅接受基督教難民，但對於法國這樣的大國而言，是很難如此違反人權的。但如果接受，其潛在的風險太高。黎巴嫩政府曾提醒過英國首相卡梅倫，每一百個敘利亞難民就混進兩個伊斯蘭國分子。由於敘利亞許多地方都被伊斯蘭國佔領，前政府辦公機構大量的空白護照被拿來謀利或者用於恐怖目的。這一次襲擊巴黎的8名嫌犯，其中一人已經證實是以難民身份通過希臘進入法國的。看來，只有事先加大甄別，接收後嚴加監控了。</p>
      <p class="myp">第三，外交策略的調整。目前法國和伊斯蘭國已經形同水火，絕無可能妥協餘地。哪麼法國就應該以受害人的身份，利用大家的同情，聯合一切力量，包括俄羅斯、伊朗、伊拉克和敘利亞阿薩德政權，推動美國等其他西方國家共同加大力度，務必在較短的時間內消滅伊斯蘭國，同時建立以阿薩德為主導的新敘利亞。以實現阿拉伯之春發生之前敘利亞的和平與秩序。</p>
      <p class="myp">同時，各大國聯手在利比亞建立秩序，不僅阻止難民的產生更重要的是消除伊斯蘭國產生的土壤。</p>
      <p class="myp">待這一切結束之後，法國要重新回到戴高樂獨立自主的外交路線，不要再犯利比亞和敘利亞搬起石頭砸自己腳的錯誤。</p>
      <p class="myp">這一套內外系統工程完工之後，巴黎將最終免於恐怖主義的威脅。現在考驗法國的不僅是政治領導人的政治勇氣和能力，更是對西方賴以生存的民主制度的考驗。如果闖關失敗，哪麼，歷史將眼睜睜的看著歐洲消亡在伊斯蘭化的進程中。</p>
    </div>
    <div class="divider col-md-12"></div>
  </div>
</div>