.panel.panel-inverse
  .panel-heading
    .panel-heading-btn
      | 2015 / 09 / 08
    h4.panel-title 風和日麗去野餐！5個穿搭Tips讓你成為動靜皆宜的it Girl
  .panel-body
    .headerdivider.col-md-12
    .col-md-offset-10.mybtn
      a(href='javascript:;' ng-click='share()')
        i.fa.fa-share-square-o
        span Share
      a(href='javascript:;' ng-click='like()' ng-hide="liked")
        i.fa.icon-like
        span Like
      a.gray(ng-show="liked")
        i.fa.icon-like
        span Liked
    .col-md-10.col-md-offset-1
      p.myp 女孩子總是對於野餐有許多嚮往～像是夢幻的野餐單品、精緻的美食小點、三五好友再加上晴朗的藍天白雲，都是完美野餐不可或缺的元素呢！除此之外，美美的野餐穿搭對於女孩們來說也是個重要的關鍵！今天妞編輯就是要來告訴大家幾個野餐穿搭的Tips給所有想去野餐的妞妞參考，想要成為動靜皆宜的時尚it girl，就接著看下去囉～
      .myimg
        img(src="http://www.niusnews.com/upload/imgs/default/15AugM/0828C/11.png")
      .divider.col-md-12
      h4 多用用「明亮色系」製造出可愛清爽的氛圍
      .myimg
        img(src="http://www.niusnews.com/upload/imgs/default/15AugM/0828C/9.jpeg")
      p.myp 難得野餐當然要讓穿搭和美麗風景還有宜人天氣完美配合，把清爽又有元氣的感覺帶出來！
      .divider.col-md-12
      h4 活動方便、動靜皆宜的服裝
      .myimg
        img(src="http://www.niusnews.com/upload/imgs/default/15AugM/0828C/15.jpg")
      p.myp 野餐時不免或坐或躺、需要在草地上走動，所以基本上還是以活動方便的服裝為主會比較好喔！肌膚的裸露也不要太多，避免蚊蟲不識相的來攻擊喔～
      .divider.col-md-12
      h4 髒了也不顯眼的衣服
      .myimg
        img(src="http://www.niusnews.com/upload/imgs/default/15AugM/0828C/6.png")
      p.myp 外面的泥沙、野餐手拿食物的醬汁或是殘渣都是破壞美麗穿搭的恐怖分子！所以牛仔褲、深色褲裝真的是王道啊，不但休閒有型而且耐磨耐髒，讓女孩們可以放心的享受野餐的歡樂不用顧慮太多。
      .divider.col-md-12
      h4 選擇容易穿脫的搭配
      .myimg
        img(src="http://www.niusnews.com/upload/imgs/default/15AugM/0828C/16.jpg")
      p.myp 中午太陽很毒辣，但是傍晚又容易起風，像野餐這樣的戶外活動真的必須要注意室外的溫差！所以建議在穿搭的時候可以選擇容易穿脫的服裝，兼顧防曬跟保暖。像是可綁可穿的經典格紋襯衫或是女孩感十足的小罩衫，可以披在肩上、綁在腰上或者穿起來，好看又實用。
      .divider.col-md-12
      h4 選擇自己習慣的衣服，不用太過刻意
      .myimg
        img(src="http://www.niusnews.com/upload/imgs/default/15AugM/0828C/13.jpg")
      p.myp 選擇自己習慣的衣服真的很重要！如果為了時尚而搭配了自己平常不太常穿的衣服，反而需要時時注意衣服，無法盡情享受美好的野餐。時尚感當然很重要，但是兼具舒適感和方便性的服裝也是讓野餐更加盡興的小細節喔！
    .divider.col-md-12