
<h1 class="page-header">翟本喬找員工　有三種人一定不用</h1>
<div class="panel panel-inverse">
  <div class="panel-heading">
    <div class="panel-heading-btn"></div>
    <h4 class="panel-title">2015 / 06 / 12 徐珍翔</h4>
  </div>
  <div class="panel-body">
    <div class="headerdivider col-md-12"></div>
    <div class="col-md-offset-10 mybtn"><a href="javascript:;" ng-click="share()"><i class="fa fa-share-square-o"></i><span>Share</span></a><a href="javascript:;" ng-click="like()" ng-hide="liked"><i class="fa fa-heart-o"></i><span>Like</span></a><a ng-show="liked" class="gray"><i class="fa fa-heart"></i><span>Liked</span></a></div>
    <div class="col-md-10 col-md-offset-1">
      <div class="myimg"><img src="http://static.ettoday.net/images/1118/d1118474.jpg"/></div><br/>
      <p class="myp">時序進入6月，不少社會新鮮人對畢業後第一份工作既期待又怕受傷害。被網友封為「翟神」的和沛科技總經理翟本喬日前透露自己用人哲學，稱面試時不用花俏考題，僅要求未來員工要有「找出新解答」的能力；但有三種人一律不用──說謊、吹牛、自以為是，他說：「是不是嘴砲型，其實還滿容易看出來的。」</p><br/>
      <p class="myp">翟本喬日前接受《ETtoday東森新聞雲》專訪，談及就業、人才議題時，表示自己面試不會出所謂「花俏的考題」，因為這些題目雖然看似厲害，但平時工作會遇到的問題，其實都很基本，「這座橋垮了，你就是要找出哪個點需要支撐，程式跑不出來，你就是要找出問題在哪。」</p><br/>
      <p class="myp">「我面試時，多數問題沒有標準答案，甚至沒有答案，」翟本喬提到，他鼓勵求職者盡量嘗試，即使碰壁，換個想法再做就好，「我就是要看你能想出幾個方法，」他說，工作會碰到的問題多半沒有標準答案，「課本上有解答的，就不是問題了嘛！」因此希望員工有「找出新解答」的能力。</p><br/>
      <p class="myp">當記者問到哪類求職者會直接被判出局時，翟本喬不假思索說：「說謊一定不會用，吹牛也不太用，自以為是、聽不見別人說話的，這些一律不用，因為其他（缺點）都不難改過來。」</p><br/>
      <p class="myp">他指出，面試時，只要觀察求職者的說話態度、內容，「是不是嘴砲型，其實還滿容易看出來的。」另外，求職者對過去經歷的描述是否有條理也是重點，「有沒有吹牛，還是在裡面打雜就說自己是project leader（專案負責人），這些也滿容易分辨（真偽）的。」</p><br/>
      <p class="myp">有趣的是，對於一般企業相當重視的團隊精神，翟本喬則另有看法，「如果他能力超強，速度比別人快50倍，讓別人都跟不上，那我可以用他。」他解釋，對於能力異常出眾者，只要交付對方可獨立完成的工作即可，未必得和他人合作，但如果只比別人快3倍，恐怕不行，「你只快3倍，1個人也不過做3個人的事情，如果今天我需要10個人，你還是得和人合作。」</p><br/>
      <p class="myp">話剛說完，翟本喬接著理所當然說：「即使是這樣的人，只要我能找到和他一樣厲害的人，他們兩個就可以合作啦，除非他是惡意不和人合作。」</p>
    </div>
    <div class="divider col-md-12"></div>
  </div>
</div>