    <div id="fb-root"></div>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '988221634521746',
          xfbml      : true,
          status     : true,
          version    : 'v2.3'
        });
        FB.Event.subscribe('auth.login', function(response) {
                window.location.reload();
        });
        FB.Event.subscribe('auth.logout', function(response) {
                window.location.reload();
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>