#header.header.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    .navbar-header
      a.navbar-brand(href='index.html')
        span.navbar-logo
        |  Color Admin
      button.navbar-toggle(type='button', data-click='sidebar-toggled')
        span.icon-bar
        span.icon-bar
        span.icon-bar
    ul.nav.navbar-nav.navbar-right
      li
        form.navbar-form.full-width
          .form-group
            input.form-control(type='text', placeholder='Enter keyword')
            button.btn.btn-search(type='submit')
              i.fa.fa-search
      li.dropdown
        a.dropdown-toggle.f-s-14(href='javascript:;', data-toggle='dropdown')
          i.fa.fa-bell-o
          span.label 5
        ul.dropdown-menu.media-list.pull-right.animated.fadeInDown
          li.dropdown-header Notifications (5)
          li.media
            a(href='javascript:;')
              .media-left
                i.fa.fa-bug.media-object.bg-red
              .media-body
                h6.media-heading Server Error Reports
                .text-muted.f-s-11 3 minutes ago
          li.media
            a(href='javascript:;')
              .media-left
                img.media-object(src='', alt='')
              .media-body
                h6.media-heading John Smith
                p Quisque pulvinar tellus sit amet sem scelerisque tincidunt.
                .text-muted.f-s-11 25 minutes ago
          li.media
            a(href='javascript:;')
              .media-left
                img.media-object(src='', alt='')
              .media-body
                h6.media-heading Olivia
                p Quisque pulvinar tellus sit amet sem scelerisque tincidunt.
                .text-muted.f-s-11 35 minutes ago
          li.media
            a(href='javascript:;')
              .media-left
                i.fa.fa-plus.media-object.bg-green
              .media-body
                h6.media-heading  New User Registered
                .text-muted.f-s-11 1 hour ago
          li.media
            a(href='javascript:;')
              .media-left
                i.fa.fa-envelope.media-object.bg-blue
              .media-body
                h6.media-heading  New Email From John
                .text-muted.f-s-11 2 hour ago
          li.dropdown-footer.text-center
            a(href='javascript:;') View more
      li.dropdown.navbar-user
        a.dropdown-toggle(href='javascript:;', data-toggle='dropdown')
          img(src='', alt='')
          span.hidden-xs 黃劭安
          b.caret
        ul.dropdown-menu.animated.fadeInLeft
          li.arrow
          li
            a(href='javascript:;') Edit Profile
          li
            a(href='javascript:;')
              span.badge.badge-danger.pull-right 2
              |  Inbox
          li
            a(href='javascript:;') Calendar
          li
            a(href='javascript:;') Setting
          li.divider
          li
            a(href='javascript:;') Log Out