
<div id="sidebar" class="sidebar">
  <div data-scrollbar="true" data-height="100%">
    <ul class="nav">
      <li class="nav-header">文章分類</li>
      <li ng-hide="!ifiammanager &amp;&amp; menu.key=='admin'" ng-class="{'has-child':haschild(menu), 'expand':menu.open, 'active':menu.active}" ng-repeat="menu in sidemenu"><a href="javascript:;" ng-click="togglemenu(menu,sidemenu)"><b ng-if="haschild(menu)" class="caret pull-right"></b><i ng-attr-class="{{menu.class}}"></i><span>{{menu.title}}</span></a>
        <ul ng-if="haschild(menu)" collapse="!menu.open" class="sub-menu">
          <li ng-class="{'active':smenu.active}" ng-repeat="smenu in menu.children" ng-click="seeotherpost(menu,smenu);clicksmenu(menu,smenu)" class="wrap"><a ui-sref="{{menu.key+'-'+smenu.key}}">{{smenu.title}}</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<div class="sidebar-bg"></div>