#login{
	width:30%;
	position:absolute;
	z-index:99;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	top:100px;
}
.notlog{
	opacity:0.3;
}
.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

.node text { font: 12px sans-serif; }

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

